101 ICON "psSafer.ico"

// Informations de version
1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x0L
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "FileDescription", "ps~walls - PowerShell wrapper with obfuscating protection"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "ps~walls"
            VALUE "LegalCopyright", "Copyright (C) 2025"
            VALUE "OriginalFilename", "ps~walls.exe"
            VALUE "ProductName", "ps~walls"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

// Manifeste pour Windows 10/11
1 RT_MANIFEST "app.manifest"